<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangzhihao.springboot.mapper.UserMapper">
    <select id="login" resultType="com.wangzhihao.springboot.entity.User">
        select * from user where username = #{username} and password=#{password};
    </select>

    <select id="queryOneByUsername" resultType="com.wangzhihao.springboot.entity.User">
        select * from user where username = #{username};
    </select>

    <delete id="deleteOne" parameterType="java.lang.Integer">
        delete from user where id=#{id};
    </delete>

    <insert id="insertOne" parameterType="com.wangzhihao.springboot.entity.User">
        insert into user (username,password) values (#{username},#{password});
    </insert>

    <update id="updateOne" parameterType="com.wangzhihao.springboot.entity.User">
        update user set username=#{username},password=#{password} where id=#{id};
    </update>

    <select id="queryAll" resultType="com.wangzhihao.springboot.entity.User">
        select * from user a
        <trim prefix="where" prefixOverrides="AND |OR">
            <if test="username != null and username != ''">
                and a.username=#{username}
            </if>
            <if test="password != null and password != ''">
                or a.password=#{password}
            </if>
        </trim>
    </select>

    <select id="queryRolesByUsername" resultType="java.lang.String">
        select a.username,a.rolename from user_role a where a.username = #{username};
    </select>

    <select id="queryPermissionsByRoleName" resultType="java.lang.String">
        select a.rolename,a.permission_name from role_permission a where a.rolename = #{rolename};
    </select>
</mapper>