<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:replace="blog/index/include_blog::header"></head>
<body>
<nav th:replace="blog/index/include_blog::nav" class="navbar navbar-default navbar-custom navbar-fixed-top"></nav>
<header class="intro-header"
        style="background-image: url('/img/blog/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Zhihao'Blog</h1>
                    <span class="subheading">日常学习记录</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div id="incomeNum" th:each="article:${articles}">
                <span>#[[${article.id}]]</span>
                <div class="post-preview">
                    <a th:href="@{/blog/article/}+${article.id}">
                        <h2 th:utext="${article.title}" class="post-title"></h2>
                    </a>
                    <p class="post-meta">作者：<span th:text="${article.author}"></span> &nbsp;&nbsp;
                        <span th:text="${#dates.format(article.modifiedDate, 'yyyy-MM-dd HH:mm:ss')}"></span></p>
                </div>
                <hr>
            </div>
            <div class="clearfix">
                <p id="flagLoaded" style="text-align: center;">已全部加载</p>
                <a id="flagLoad" style="display: none;" class="btn btn-secondary float-right"
                   href="javascript:void(0)" onclick="nextPage()">更早 &rarr;</a>
            </div>
        </div>
    </div>
</div>
</body>
<div th:include="blog/index/include_blog::footer"></div>
</html>
