<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="blog/index/include_blog::header"></head>
<body>
<nav th:include="blog/index/include_blog::nav" class="navbar navbar-default navbar-custom navbar-fixed-top"></nav>
<!-- Page Header -->
<header class="intro-header"
        style="background-image: url('/img/blog/post-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <input th:id="articleId" th:value="${article.id}" type="text" hidden="hidden">
                    <h1 th:utext="${article.title}"></h1>
                    <span class="meta">作者 <span th:text="${article.author}"></span>&nbsp;&nbsp;发表于
							<span th:text="${article.modifiedDate}"></span>
						</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post content -->
<article>
    <div class="container">
        <div class="col-lg-8 col-md-10">
            <div id="content" th:utext="${article.content}" class="summernote"
                 style="border-right: 1px solid #090101"></div>
            <textarea wrap="virtual" placeholder="留下你的足迹" maxlength="200" style="resize:none;width:100%;height: 100px;
       border:1px solid gray;margin-top: 10px;padding: 10px;
       border-radius: 5px" id="comment_text"></textarea>
            <div>
                <input id="sendSuccessToTop" style="float: right;margin: 10px;" type="button" class="btn btn-primary"
                       value="留言"/>
            </div>
            <div class="col-lg-8 comment-list" style="clear: both">
                <ul th:id="commentList" th:each="comment:${comments}" class="list-group">
                    <li class="list-group-item" style='word-break: break-all;'><b>用户&nbsp;&nbsp;[[${comment.userNickName}]]于&nbsp;&nbsp;[ [[${comment.date}]] ]:</b>[[${comment.comment}]]
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-md-10">
            <div id="content2" class="summernote">广告位招租</div>
        </div>
    </div>
</article>
<hr>
<div th:include="blog/index/include_blog::footer"></div>
</body>
<script>
    $("#sendSuccessToTop").click(function () {
        var strContent = $("#comment_text").val();
        if (strContent.trim() === "") {
            // $.sendError('评论内容不能为空！', 3000, function () {
            //     console.log('sendError closed');
            // });
            layer.msg("留言不能为空");
            return;
        }

        $.ajax({
            type: "post",
            url: "/comment/comment",
            data:
                {
                    "articleId": $("#articleId").val(),
                    "comment": strContent
                },
            dataType: "JSON",
            success: function (result) {
                if (result.success) {
                    layer.msg(result.msg);
                    window.setTimeout("window.location.reload(true)", 3000);
                }else{
                    layer.msg(result.msg);
                }
            }
        })
    });
</script>
</html>
